@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
body{
    margin: 0%;
    background-color: whitesmoke;
}
header{
    background-color: black;
    color: white;
    height: 30vw;
}
header h1{
    margin-top: 0px;
    margin-bottom: 1px;
    text-align: center;
    font-family: 'Passion One';
    font-weight: normal;
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 8vw;
}
header p {
    text-align: center;
    font-size: Sriracha;
    font-size: 2.5vw;
}
p > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
p>a:hover{
    text-decoration: underline;
    background-color: rgb(38, 38, 38);
}

section{
    font-family: Sriracha;
    font-size: 2.5vw;
}

section#girassol{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    padding: 50px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.416);
}

section#girassol > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px; 
}

.branco{
    padding-left: 50px;    
}
section#livro{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    padding: 50px;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}
section#livro > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.503);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
section#ultimo{
    padding-bottom: 120px;
}

footer{
    background-color: black;
    padding: 0.5px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 0px;
}
